// out: ../css/style.min.css, sourcemap: falsede, compress: true
body{
  margin: 0;
  padding: 0;
  background-color: white;
  .align-wrap;
  font-family: 'Spinnaker', sans-serif;
}
*{
  box-sizing: border-box
}
@font-face {
  src: url('fonts/Spinnaker-Regular.ttf');
  font-family: 'Spinnaker';
}
@font-face {
  src: url('fonts/edosz.ttf');
  font-family: 'edosz';
}
.edosz-family{
  font-family: 'edosz';
}
.align-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
@green: #009321;
@brown: #625346;
@red: #c50036;
.btn{
  background-image: url(../gallery/btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  .edosz-family;
  padding: 10px 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 20px;
}
#menu-mobile{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  .align-wrap;
  ul{
    .align-wrap;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    a{
      text-decoration: none;
    }
    li{
      margin: 10px;
      color: @green;
      .edosz-family;
      font-size: 2em;
      &:hover{
        color: @red;
      }
    }
  }
}
nav{
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left:0;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  #banderole{
    .align-wrap;
    margin-top: 20px;
    h1{
      font-size: 2em;
      padding: 25px 70px;
      margin: 0;
      font-weight: 200;
    }
  }
  .burger-menu{ // content burger menu
    margin: 0;
    .align-wrap;
    flex-direction: column;
    list-style: none;
    padding: 0;
    cursor: pointer;
    li.b-menu{ // burger menu
      width: 40px;
      height: 5px;
      background-color: @green;
      transition-duration: 0.4s;
    }
    li{
      color: @green;
      margin-top: 5px;
      text-transform: uppercase;
    }
    &:hover{ // animation burger menu
      li.b-menu{
        &:nth-child(2){
          width: 20px;
          transition-duration: 0.4s;
        }
      }
    }
  }
}
.content{
  width: 50%;
  min-height: 100vh;
}
section#background{
  background-image: url('../gallery/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  .align-wrap;
  h2{
    font-family: 'edosz', serif;
    color: white;
    font-size: 5.5em;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
  }
}
section#infos{
  .align-wrap;
  flex-flow: column wrap;
  .message{
    width: 70%;
    text-align: center;
    #oneday{
      position: absolute;
      margin-top: -80px;
    }
    .text-custom{
      font-family: 'edosz', serif;
      text-transform: uppercase;
      color: @brown;
    }
    h2.text-custom{
      color: @red;
      margin: 0;
      font-size: 4.7em;
      font-weight: 200;
    }
    h3.text-custom{
      font-size: 2em;
      margin: 0;
      font-weight: normal;
    }
    h4.text-custom{
      font-size: 0.8em;
      margin: 0;
      font-weight: normal;
    }
    p{
      color: grey;
    }
    .input-search{
      border: 1px solid #E0E0E0;
      background-color: #F5F5F5;
      padding: 20px 15px;
      min-width: 50%;
      text-align: center;
      border-radius: 100px;
      text-transform: uppercase;
      color: grey;
      transition-duration: 0.4s;
      &:focus{
        transition-duration: 0.4s;
        min-width: 70%;
      }
    }
    .btn{
      transition-duration: 0.4s;
      cursor: pointer;
      &:hover{
        filter: saturate(50%);
        transition-duration: 0.4s;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .content{
    width: 100%;
  }
  section#background{
    background-image: url('../gallery/background-mobile.png');
    background-position: bottom;
  }
  nav{
    position: relative;
    .burger-menu{ // content burger menu
      margin: 5px;
      li.b-menu{ // burger menu
        background-color: white;
      }
      li:nth-child(5){
        display: none;
      }
    }
  }
  section#infos{
    .message{
      width: 90%;
      #oneday{
        display: none;
      }
    }
  }
}
